h1{
   text-align: center;
   color:rgb(81, 81, 141);
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 40;
   margin:20px;

}
#distancia_percorrida{
    text-align: center;
    font-weight: bold;
    font-size:30px;
    font-family:sans-serif;
    color:red;

}

#segundos_informados{
    text-align: center;
    font-weight: bold;
    font-size:35px;
    font-family:sans-serif;
    color:red;
}

.texto{
    text-align: center;
    font-weight: bold;
    font-size:25px;
    font-family:sans-serif;
    
}